// bs reset
@import bootstrap4/scss/0-bootstrap-reboot
@import bootstrap4/scss/type
@import bootstrap4/scss/utilities
@import bootstrap4/scss/buttons

// mdl
@import mdl/layout/layout
@import mdl/button/button
@import mdl/menu/menu
@import bootstrap4/scss/images

// sean
@import helper/variables
@import helper/media
@import helper/helper
@import helper/base
@import modules/loading-mask
@import modules/radio-button

// animated 使用範例
// $use-fadeIn: true
// $use-fadeOut: true
// @import modules/animate/helpers/settings
// @import modules/animate/helpers/mixins
// @import modules/animate/helpers/base
// @import modules/animate/animations/fade-enter/fadeIn
// @import modules/animate/animations/fade-exit/fadeOut

// 修正bug
.mdl-layout__container
  position: relative
.col
  overflow-x: hidden

// 移除框線
a, button, [role="button"]
  &, &:focus
    outline: none
.btn:focus
  box-shadow: none

// 導覽列顏色
.mdl-layout__header
  background: $main

.page-content
  padding-top: $px8